.playlistRow {
  display: flex;
  align-items: center;
  height: 5rem;
  border-bottom: 1px solid #333;
}

.trackRow:last-child {
  border-bottom: none;
}

.addPlaylist {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #333;
  box-shadow: 0;
  border: 0;
  padding: 0;
  margin: 20px;
}

.playlistTitle {
  font-weight: 600;
}

.playlistCoverArt {
  height: 50px;
  width: 50px;
  margin: 20px;
}
